body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(199, 196, 196);
    background-color: #292950;
}
#container1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#container1 img {
    width: 104px;
    height: 104px;
    font-size: 20px;
}
#container2 {
    background-color: rgb(153, 6, 6);
    padding: 20px;
    font-size: 20px;
}
.começo {
    display: flex;
    justify-content: center;
}
.lista{
    font-size: 20px;
}

.lista__opcao {
    text-decoration: none;
    color:rgb(199, 196, 196);
}

.lista__opcao:hover {
    color: white;
}