body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(199, 196, 196);
    background-color: #292950;
}
#container1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
#container1 img {
    width: 104px;
    height: 104px;
}
#container2 {
    background-color: rgb(153, 6, 6);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px; 
    font-size: 20px;
}
.começo {
    display: flex;
    justify-content: center;
}
.cartao{
    background-color: #ffffff; 
    color: black;
    padding: 10px; 
    border-radius: 5px; 
    margin: 5px;
    width: 100%;
}
.mecanico {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.cartao img{
    width: 204px;
    height: 204px;
}
.verde{
    color:green
}