body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(199, 196, 196);
    background-color: #292950;
}

#container1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#container1 img {
    width: 200px;
    height: 200px;
}

#container2 {
    background-color: #990606;
    padding: 20px;
    font-size: 20px;
}

.começo {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.cartao {
    background-color: white;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.guincho {
    margin: 0;
}
.previsao-verde {
    color: green; 
}