* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #292950;
    background-color: #292950;
}

header {
    text-align: center;
    margin-top: 5%;
}

header img {
    width: 15%;
    height: auto;
}

main {
    background-color: rgb(199, 196, 196);
    padding: 5%;
    align-items: center;
    justify-content: top;
    height: 100%;
}

.comeco {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1%; 
}

input[type="text"], input[type="number"], input[type="tel"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#cadastrar, #voltarButton {
    width: 100%; 
    background-color: #292950;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
#voltarButton{
    margin-bottom: 30%;
}

#cadastrar:hover, #voltarButton:hover {
    background-color: #3b3b78;
}

footer {
    background-color: #292950;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.error-messages {
    color: red;
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    header img {
        width: 40%;
        height: auto;
    }
    main {
        padding-top: 5%;
    }
    body {
        font-size: 1rem;
    }

}