* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #292950;
    background-color: rgb(199, 196, 196);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #292950;
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cabecalho {
    display: flex;
    align-items: center;
    font-size: 2em;
    background-color: #292950;
    color: rgb(199, 196, 196);
}

.cabecalho img {
    max-width: 10%;
    height: auto;
}

#container1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    background-image: url(../assets/mecanico.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0.6em;
}

.cadastro {
    display: flex;
    justify-content: center;
}

#container2 ol {
    list-style-type: decimal;
    margin-left: 5%;
}

#container2 ul {
    list-style-type: disc;
    margin-left: 5%;
}
/* Container 2 e 3 */
.flex2 {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.imagens img {
    width: 8%;
    height: auto;
    margin-right: 1rem;
}

.imagens2 img {
    width: 13%;
    height: auto;
}

.imagens3 img {
    width: 25%;
    height: auto;
}

.area__cliente {
    color: white;
    text-decoration: none;
}

.area__cliente:hover {
    color: #292950;
}

.cadastro {
    color: #292950;
    text-decoration: none;
}

.cadastro:hover {
    color: white;
}
.integrantes {
    color: #292950;
}
.integrantes:hover {
    color: white;
}

/* Media Queries - Dispositivos Móveis */
@media (max-width: 550px) {
    body{
        font-size: 1rem;
    }
    .cabecalho {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }
    #container2 ol {
        list-style-type: decimal;
        margin-left: 10%;
    }
    #container1 {
        font-size: 1.5em;
    }
    .cabecalho img {
        max-width: 15%;
        height: auto;
    }
    
}

@media (min-width: 551px) and (max-width: 1200px) {
    .cabecalho {
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }
}