* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #292950;
    background-color: rgb(199, 196, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #292950;
    color: rgb(199, 196, 196);
    padding: 1rem;
    text-align: center;
    width: 100%;
}

main {
    width: 90%;
    margin: 2rem auto;
}

.cartao {
    background-color: #292950;
    color: rgb(199, 196, 196);
    border-radius: 30px;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
}

.info {
    display: flex;
    align-items: center;
}

.foto {
    width: 20%;
    height: auto;
    border-radius: 30px;
    margin-right: 2rem;
}

.detalhes {
    flex: 1;
}

.detalhes p {
    margin-bottom: 0.5rem;
}

.detalhes a {
    color: #ff9800;
    text-decoration: none;
}

.detalhes a:hover {
    text-decoration: underline;
}

.logo {
    width: 20%;
    height: auto;
    margin-left: 1rem;
}

footer {
    background-color: #292950;
    color: rgb(199, 196, 196);
    padding: 1rem;
    text-align: center;
    width: 100%;
}

footer a {
    color: #ff9800;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 900px) {
    .info {
        flex-direction: column;
        align-items: flex-start;
    }

    .foto, .logo {
        width: 40%;
        margin-bottom: 1rem;
    }

    .foto {
        margin-right: 0;
    }

    .logo {
        margin-left: 0;
    }

    .detalhes {
        align-items: flex-start;
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .foto, .logo {
        width: 60%;
    }

    body {
        font-size: 1.2rem;
    }

    .cartao {
        padding: 0.5rem;
    }
}
